:root {
  --primary-color: #04444e;
  --secondary-color: #48cac0;
  --third-color: #fed86b;
  --fourth-color: #ffdbdd;
}

.text-gradient {
  background: var(--primary-color);
  background: linear-gradient(
    to right,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-mask {
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}

.bg-colorGradient {
  background: hsla(175, 55%, 54%, 1);

  background: linear-gradient(
    0deg,
    hsla(175, 55%, 54%, 1) 0%,
    hsla(188, 90%, 16%, 1) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(175, 55%, 54%, 1) 0%,
    hsla(188, 90%, 16%, 1) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(175, 55%, 54%, 1) 0%,
    hsla(188, 90%, 16%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#48CAC0", endColorstr="#04444E", GradientType=1 );
}

.bg-colorGradient2 {
  background: hsla(44, 99%, 71%, 1);

  background: linear-gradient(
    0deg,
    hsla(44, 99%, 71%, 1) 0%,
    hsla(175, 55%, 54%, 1) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(44, 99%, 71%, 1) 0%,
    hsla(175, 55%, 54%, 1) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(44, 99%, 71%, 1) 0%,
    hsla(175, 55%, 54%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FED86B", endColorstr="#48CAC0", GradientType=1 );
}
